// $color: green;
html {
  // background: red;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
html, body{
  margin: 0;
  padding: 0;
}
:focus {
  outline-width: 0;
}

.input {
  &--huge{
    display: block;
    font-size: 3rem;
    padding: 1rem;
    width: 90%;
    border-width: 3px;
  }
  &--error{
    border-color: red;
  }
  &--ok{
    border-color: black;
  }
}

.text{
  &--center{
    text-align: center;
  }
  &--alert{
    color: red;
  }
  &--info{
    color: blue;
  }
  &--loading{
    color: black;
    animation: colorchange 1s infinite alternate;
    -webkit-animation: colorchange 1s infinite alternate;
    -moz-animation: colorchange 1s infinite alternate;
    -o-animation: colorchange 1s infinite alternate;
  }
}

@-webkit-keyframes colorchange {
  0% {
    color: black;
  }
  50% {
    color: blue;
  }

  100% {
    color: black;
  }
}
